[kibana-{{ kibana_version }}]
name=Kibana repository for {{ kibana_major_version }}.x packages
baseurl=https://artifacts.elastic.co/packages/{{ kibana_major_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
